@(title: String, downloadSpecification: Form[DownloadSpecification])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(title) {

    <h1>@title</h1>

    @helper.form(action = routes.Application.download(), 'class -> "form-horizontal") {
        @inputText(downloadSpecification("url"), '_label -> "File URL")
        @inputText(downloadSpecification("targetFilename"), '_label -> "Rename file as")
        @inputText(downloadSpecification("targetExtension"), '_label -> "Force extension to")

        <div class="form-actions">
            <input type="submit" value="Download" class="btn btn-primary">
        </div>
    }
}
